<template>
  <div class="jumbotron container">
    <h1>Modify Permission</h1>
   <hr>
   <div class="jumbotron" v-if="dataLoading">
            <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
          </div>
          <span><b> Loading Information...</b></span>
        </div>
    <form-permission :permission="permission" v-else></form-permission>

  </div>
</template>


<script>
// @ is an alias to /src
import formPermission from "@/components/FormPermission";
import axios from 'axios';

export default {
  components:
  {
    formPermission
  },
  beforeMount(){
      let id = this.$route.params.id;
      this.getPermission(id);
  },
  name: 'Permission',
  data() {
    return {
      permission:{
        id:0,
        employeeName: "",
        employeeLastName: "",
        permissionTypeId: 0,
        permissionDate: ""
      },
      dataLoading: false,
      errorLoading: false,
      errorMessage: "",
    }
  },
  methods:{
      getPermission(id){
        let self = this;

        self.dataLoading = true;

          axios.get(`permission/${id}`)
            .then((result) => {
                let payLoad = result.data;
                self.permission = payLoad.data;
                self.permission.permissionDate = self.permission.permissionDate.substring(0,10);
                self.dataLoading = false;
            })
            .catch(e => {
                self.errorMessage = "Something was wrong, try again later.";
                self.errorLoading = true;
                console.log(e);
            })
             .then(function () {
                self.dataLoading = false;
            });
      }
  }
}
</script>
