<template>
  <div class="container">
    <h1>Permission List</h1>
        <div class="jumbotron" v-if="dataLoading">
            <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
          </div>
          <span><b> Loading Information...</b></span>
        </div>
    <table class="table table-striped table-hover" v-else>
    
      <thead>
          <tr class="bg-dark text-white">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Permission Type</th>
            <th scope="col">Permission Date</th>
            <th scope="col">Actions</th>
          </tr>
      </thead>

      <tbody>
        <tr v-for="item in permissions" :key="item.id">
          <th scope="row">{{item.id}}</th>
          <td>{{item.employeeName}}</td>
          <td>{{item.employeeLastName}}</td>
          <td>{{item.permisionTypeDescription}}</td>
          <td>{{item.permissionDate}}</td>
          <td>
            <button class="btn btn-info" @click="modifyPermission(item.id)" >Edit</button>
            <button class="btn btn-danger ml-1"  @click="deletePermission(item)">Delete</button>
          </td>
        </tr>
       
      </tbody>

    </table>
      <div class="form-group row">
              <div class="alert alert-danger" role="alert" v-if="errorLoading">
                  {{ errorMessage }}
              </div>
          </div>
  </div>

  
</template>


<script>
// @ is an alias to /src
import axios from 'axios';

export default {
  name: 'Permissions',
  data(){
    return {
      dataLoading: false,
      permissions: [],
      errorLoading: false,
      errorMessage: "",
    };
  },
  created()
  {
    console.log("Cargando");
    this.getPermissions();
  },
  methods:
  {
    getPermissions()
    {
       let self = this;
       self.dataLoading = true;

        axios.get("permissions")
            .then((result) => {
              let payLoad = result.data;

              if(payLoad.code === 200){
                 self.permissions = payLoad.data;
              }else{
                self.errorMessage = payLoad.message;
                self.errorLoading = true;
              }

            })
            .catch(e => {
                self.errorMessage = "Something was wrong, try again later.";
                self.errorLoading = true;
                console.log(e);
            })
             .then(function () {
                self.dataLoading = false;
            });
    },
    modifyPermission(id){
     
        this.$router.push({ name: 'PermissionModify', params: { id: id } })

    },
    deletePermission(item){
         if(confirm("Do you really want to delete this permission?")){

             let self = this;

            self.dataLoading = true;

              axios.delete(`permission/${item.id}`)
                .then((result) => {
                    let payLoad = result.data;
                    if(payLoad.code === 200){
                      const index =  self.permissions.indexOf(item);
                      self.permissions.splice(index, 1);
                    }else{
                        self.errorMessage = payLoad.message;
                        self.errorLoading = true;
                    }
                  
                })
                .catch(e => {
                    self.errorMessage = "Something was wrong, try again later.";
                    self.errorLoading = true;
                    console.log(e);
                })
                .then(function () {
                    self.dataLoading = false;
                });
                
        }
    }
  }
}
</script>


<style scoped>
    .bd-over-modal-lg .modal-dialog {
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }

    .bd-over-modal-lg .modal-dialog .modal-content {
        background-color: transparent;
        border: none;
    }
</style>
