<template>
  <div class="jumbotron container">
    <h1>Add Permission</h1>
   <hr>
    <form-permission :permission="permission"></form-permission>

  </div>
</template>


<script>
// @ is an alias to /src
import formPermission from "@/components/FormPermission";

export default {
  components:
  {
    formPermission
  },
  name: 'Permission',
  data() {
    return {
      permission:{
        id:0,
        employeeName: "",
        employeeLastName: "",
        permissionTypeId: 0,
        permissionDateTime: ""
      }
    }
  }
}
</script>
