<template>
    <div class="container">
       <form>
          <div class="form-group">
            <label for="employeeName">Employee Name</label>
            <input type="text" class="form-control" id="employeeName" v-model="permission.employeeName" placeholder="the name of employee" maxlength="60">
          </div>
           <div class="form-group">
            <label for="employeeLastname">Employee Last Name</label>
            <input type="text" class="form-control" id="employeeLastname" v-model="permission.employeeLastName" placeholder="the last name of employee" maxlength="120">
          </div>
         
          <div class="form-group">
            <label for="permissionType">Permission Type</label>
            <select class="form-control" id="permissionType" v-model="permission.permissionTypeId" required>
              <option v-for="item in permissionTypes" :key=item.id :value="item.id">{{ item.description }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="employeeLastname">Permission Date</label>
             <input type="date" class="form-control" id="employeeLastname" v-model="permission.permissionDate" >
          </div>
           <div class="form-group">
            <button type="button" class="btn btn-primary float-right" @click="savePermission" :disabled="processingData">{{ buttonMessage }}</button>
             <div class="spinner-border text-danger float-right mr-1" role="status" v-if="processingData">
                  <span class="sr-only">Loading...</span>
            </div>
          </div>
         

          <div class="form-group row">
              <div class="alert alert-danger" role="alert" v-if="errorValidation">
                  Some information is necessary:
                  <ul>
                    <li v-for="(item, index) in validationErrors" :key="index" >{{ item }}</li>
                  </ul>
              </div>
          </div>

           <div class="form-group row">
              <div class="alert alert-danger" role="alert" v-if="errorSaving">
                  {{ errorMessage }}
              </div>
          </div>

            <div class="form-group row">
              <div class="alert alert-success" role="alert" v-if="informationSaved">
                 Information saved successfully
              </div>
          </div>
        </form>
         
    </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'FormPermission',
  props: {
    permission: Object
  },
  data() {
    return {
      permissionTypes: [],
      validationErrors: [],
      buttonMessage: "Save Information",
      errorValidation: false,
      processingData: false,
      errorSaving: false,
      errorMessage: "",
      informationSaved: false
    }
  },
  mounted() {
    this.getPermissionTypes();
  },
  methods:  {
     getPermissionTypes(){
       let self = this;

        axios.get("drop/permission-types")
            .then((result) => {
                self.permissionTypes = result.data.data;
            })
            .catch(e => {
                console.log(e);
                throw e;
            })
     },
     savePermission(){
        let self = this;
        self.validateInformation();
        self.informationSaved = false;
        self.errorSaving = false;
        self.processingData = false;

        if(self.validationErrors.length > 0){
          self.errorValidation = true;
        }else{

          self.buttonMessage = "Saving...";
          self.errorValidation = false;
          self.processingData = true;

           if(self.permission.id === 0){
               self.addPermission();
            }else{
              self.updatePermission();
            }

        }
     },
    addPermission(){
       let self = this;
        axios.post("permission", self.permission)
            .then((result) => {
              console.log(result);
                let payLoad = result.data;
                if(payLoad.code == 200){                 
                    self.informationSaved = true;
                    self.clearForm();
                }else{
                  self.errorMessage = payLoad.message;
                  self.errorSaving = true;
                }
            })
            .catch(e => {
                self.errorMessage = "Something was wrong, try again later.";
                self.errorSaving = true;
                console.log(e);
            })
            .then(function () {
                    self.buttonMessage = "Save Information";
                    self.processingData = false;
            });
        
    },
    updatePermission(){
       let self = this;
        axios.put(`permission/${self.permission.id}` , self.permission)
            .then((result) => {
              console.log(result);
                let payLoad = result.data;
                if(payLoad.code == 200){                 
                    self.informationSaved = true;
                }else{
                  self.errorMessage = payLoad.message;
                  self.errorSaving = true;
                }
            })
            .catch(e => {
                self.errorMessage = "Something was wrong, try again later.";
                self.errorSaving = true;
                console.log(e);
            })
            .then(function () {
                    self.buttonMessage = "Save Information";
                    self.processingData = false;
            });
    },
     validateInformation(){

       let self = this;
       self.validationErrors.splice(0, self.validationErrors.length);

       if(!self.permission.employeeName){
         self.validationErrors.push("Employee name is required");
       }

        if(!self.permission.employeeLastName){
         self.validationErrors.push("Employee last name is required");
       }

        if(!self.permission.permissionTypeId){
         self.validationErrors.push("Permission type is required");
       }

       if(!self.permission.permissionDate){
         self.validationErrors.push("Permission date is required");
       }

       console.log(self.validationErrors);
     },
     clearForm(){
       let self = this;
       self.permission.employeeName = "";
       self.permission.employeeLastName = "";
       self.permission.permissionTypeId = 0;
       self.permission.permissionDate = "";
     }
  }
}
</script>
