<template>
  <div id="app">
  

    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <div class="text-center">
          <router-link class="btn" to="/">Home</router-link>
          <router-link class="btn text-white ml-2" to="/permissions">Permissions</router-link>
          <router-link class="btn  text-white ml-2" to="/add-permission">Add Permission</router-link>
        </div>
        
      </div>
    </div>

  </header>
    <router-view/>
  </div>
</template>

<style>

</style>
